.resultPage {
    background: #91c8d5;


    .title {
        color: #FFF;
        text-align: center;
        padding-top: 48px;
    }
    .subTitle {
        color: #FFF;
        margin-bottom: 48px;
    }


    .enterBtn {
        width: 60vw;
    }
}